DatabaseProgram/DatabaseProgram.v12.suo
DatabaseProgram/DatabaseProgram/bin/Debug/DatabaseProgram.exe
DatabaseProgram/DatabaseProgram/bin/Debug/DatabaseProgram.pdb
DatabaseProgram/DatabaseProgram/bin/Debug/DatabaseProgram.vshost.exe
DatabaseProgram/DatabaseProgram/bin/Debug/SongLibrary.mdf
DatabaseProgram/DatabaseProgram/bin/Debug/SongLibrary_log.ldf
DatabaseProgram/DatabaseProgram/obj/Debug/DatabaseProgram.csproj.GenerateResource.Cache
DatabaseProgram/DatabaseProgram/obj/Debug/DatabaseProgram.csproj.ResolveComReference.cache
DatabaseProgram/DatabaseProgram/obj/Debug/DatabaseProgram.exe
DatabaseProgram/DatabaseProgram/obj/Debug/DatabaseProgram.pdb
DatabaseProgram/DatabaseProgram/obj/Debug/Interop.MediaPlayer.dll
DatabaseProgram/DatabaseProgram/SongLibrary.mdf
DatabaseProgram/DatabaseProgram/SongLibrary_log.ldf
